body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Sarabun', sans-serif;
}

.greyed {
  color: #9e9e9e;
}

.btn {
  background-color: #8261b7;
  box-shadow: none;
}

.btn:hover {
  background-color: #8887dc;
}

.btn:focus {
  background-color: #8887dc;
}

.candiatelistname {
  cursor:pointer;
}
.candiatelistname:hover {
  text-decoration:underline;
}
